.repos-container
  %span
    - if @search && @user
      %span
        You are loking for:
        = @search
      %span
        User:
        = @user.login
  .repos-list
    - if @repos.present?
      - @repos.each do |repo|
        .repo-box
          .links-to-source
            -# TODO repo_path, owner_path
            = link_to repo.name, "/repos/#{repo.id}", class: 'link-to-repo', 'data-target': repo.id
            = link_to repo.html_url, repo.html_url, class: 'link-to-repo-home'
            = link_to repo.owner.login, "/users/#{repo.owner.id}", class: 'link-to-owner'
          .description
            %span
              Description:
            = repo.description
          .footer-info
            .watchers
              watchers:
              = repo.watchers
            .forks
              forks:
              = repo.forks
            %button.like-button{'data-item-id': "#{repo.id}", 'data-item': "repo_id"}
              - if get_item_status(repo.id, "repo_id")
                Unlike
              - else
                Like
    - else
      There are no repos in this search!
