.repo-container
  .repo-info
    .repo-name
      = @repo.full_name
    .repo-description
      Description:
      %span
        = @repo.description
    .repo-watchers
      watchers:
      %span
        = @repo.watchers
    .repo-issues
      open issues:
      %span
        = @repo.open_issues
    .repo-home
      home page:
      %span
        = link_to @repo.homepage, @repo.homepage
    .repo-github-link
      GitHub repo:
      %span
        = link_to @repo.html_url, @repo.html_url
    .repo-created-at
      created at:
      %span
        = @repo.created_at
  .contributors
    .conributors-title
      Contributors:
    .repo-contributors
      - @contributors.each do |contributor|
        %span
          = link_to contributor.login, "/users/#{contributor.id}"
          %button.like-button{'data-item-id': "#{contributor.id}", 'data-item': "user_id"}
            - if get_item_status(contributor.id, "user_id")
              Unlike
            - else
              Like
