.user-container
  .user-ava-like
    %img{src: "#{@user.avatar_url}"}
    %button.like-button{'data-item-id': "#{@user.id}",'data-item': "user_id" }
      - if get_item_status(@user.id, "user_id")
        Unlike
      - else
        Like
  .user-info
    .user-name
      = @user.name
    %span
      = @user.login
    %span
      Company:
      = @user.company
    %span
      Blog:
      = link_to '', @user.blog
    %span
      Followers:
      = @user.followers
