.navbar-container {
  background-color: #1e800091;
  border-style: solid;
  border-color: #4caf50c7;
  border-width: 2px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;

  .navbar-seeds {
    font-size: 20px;
  }

  #search_query {
    font-size: 17px;
    border-radius: 16px;
    padding-left: 12px;
  }

  input[type=submit] {
    display: none;
  }

  input:focus {
    outline-style: none;
  }

}
