.repo-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  max-height: 555px;

  .contributors {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding-left: 50px;

    .conributors-title {
      font-size: 21px;
      margin-left: 40px;
    }
  }

  .repo-info {
    width: 50%;
    border-right-style: solid;
    border-width: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;

    .repo-name {
      font-size: 26px;
    }

    .repo-description,
    .repo-watchers,
    .repo-issues,
    .repo-home,
    .repo-github-link,
    .repo-created-at {
      font-weight: bold;

      span {
        font-weight: normal;
      }
    }

    span {
      margin-bottom: 10px;
    }
  }

  .repo-contributors {
    flex-direction: column;
    padding: 10px;
    overflow: auto;
    padding-left: 40px;
    box-sizing: border-box;
    padding-right: 65px;
    display: none;

    button {
      float: right;
      font-size: 12px;
      height: 23px;
      width: 75px;
      border-radius: 7px;
    }

    span {
      margin-bottom: 10px;
    }

  }
}
