.repos-list {
  width: 80%;
  margin: 0 auto;

  .repo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    background-color: #8080804f;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    padding: 15px;

    .links-to-source, .footer-info {
      display: flex;
      justify-content: space-between;
    }

    .links-to-source {
      font-size: 16px;
      font-weight: bold;
      margin-left: 40px;
      margin-right: 40px;
    }


    .description {
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: auto;
      font-size: 13px;

      span {
        font-weight: bold;
      }
    }

    .footer-info {
      height: 20px;
      margin-left: 40px;
      margin-right: 40px;

      button {
        font-size: 12px;
        height: 23px;
        width: 75px;
        border-radius: 7px;
      }
      button:focus {
        outline-style: none;
      }
    }
  }
}
