.user-container {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  max-height: 500px;

  .user-info {
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-name {
      font-size: 26px;
      margin-bottom: 20px;
    }

    span {
      margin-bottom: 10px;
    }
  }

  .user-ava-like {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    overflow: auto;
    width: 50%;

    button {
      margin-right: 43px;
      margin-top: 15px;
      font-size: 12px;
      height: 23px;
      width: 75px;
      border-radius: 7px;
    }

    button:focus {
      outline-style: none;
    }

    img {
      width: 100px;
      border-radius: 10px;
      margin-right: 30px;
    }

  }
}
