.navbar-container
  .navbar-seeds
    = render_breadcrumbs :separator => ' >> '
  .navbar-search-container
    = form_tag(repos_path, method: 'get') do
      = text_field_tag :search_query , params[:search_query], placeholder: "Search..."
      = submit_tag "", name: nil
